@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(253, 253, 216);
    }

.header {
    background-color: #1C1F21;
    width: 100%;
    height: 80px;
    /*position:fixed;*/
    top: 0;
    left: 0;
    /*z-index: 100;*/
    }

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    }

.nav-link{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    }
    
.logo img{
    padding-top: 8px;
    padding-left: 20px;   
    }

.logo p {
    font-size: 29px;
    color:rgb(13,170,231);
    font-family: 'Bungee', cursive;
    padding-top: 15px;
    line-height: 24px;
    float: right;
    }

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style:none;
    z-index: 2;
    }    

.nav-menu-item {
    font-size: 20px;
    margin: 0 10px;
    padding-top: 20px;
    line-height: 25px;
    text-transform:uppercase;
    width: max-content;
    }

.nav-menu-link {
    padding: 5px 12px;
    border-radius: 3px;
    }

.nav-menu-link:hover,
.nav-menu-link:active {
    color: rgb(252, 250, 250);
    background-color: rgb(228, 110, 13);
    transition: 0.5s;
    }

.toggle {
    color:rgb(255, 255, 255);
    background:none;
    border:none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 20px;
    display: none;
    cursor: pointer;
    }



/*-------------------------------------------------------------------------------------------------*/

.encabezadohome {
        display:block;
        }
    
.encabezado {
        text-align: center;
        font-size: 2.8vw;
        font-weight: bold;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
        padding-top: 10px;
        width: 85%;
        max-width: 1050px;
        margin: 0 auto;
        }
    
.grafica {
        display: block;
        padding-right: 10px;
        margin: 0 5px;
        background: white;
        z-index: 1;
        }
    
.niveluv img {
        height: auto;
        width: 85%;
        padding-top: 3px;
        max-width: 1050px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }

.info {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        }

.contenido {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
        text-align: left;
        line-height: 25px;
        width: 85%;
        max-width: 1050px;
        margin: 0 auto;
        

        }

.informacion img {
        height: auto;
        width: 85%;
        max-width: 1050px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }

.carousel-inner img{
        height: auto;
        width: 85%;
        max-width: 1050px;
        padding-top: 20px;
        padding-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }

.carousel-control-prev {
        padding-left: 130px;
        }

.carousel-control-next {
        padding-right: 130px;
        }
    
.carousel-indicators {
    padding-bottom: 30px;
}  

/*-------------------------------------------------------------------------------------------------*/

@media (max-width:768px){
    body {
        margin: 70px;
        }
    
    .header {
        height: 80px;
        }
    
    .nav-menu {
        flex-direction: column;
        align-items:center;
        position:fixed;
        margin:0;
        background-color: rgb(16, 62, 88);
        left: 0;
        top: 80px;
        width: 100%;
        max-height: 28%;
        padding: 0;
        height: calc(50% - 80px);
        overflow-y: auto;

        left: 100%;
        transition:left 0.5s;
        }    
    
    .nav-menu-item {
        line-height: 8px;
        }
    
    .nav-menu-link {
        padding: 8px 12px;
        border-radius: 10px;
        }
    
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: rgb(216, 107, 6);
        transition: 0.5s;
        }
    
    .toggle{
        display: block;
        }
    
    .nav-menu_visible{
        left: 0;
        }

    .nav-toggle:focus:not(:focus-visible){
    outline: none;
        }
}